@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    font-size: 62.5%;
    --StrongCyan: hsl(171, 66%, 44%);
    --LightBlue: hsl(233, 100%, 69%);
    --DarkGrayishBlue: hsl(210, 10%, 33%);
    --GrayishBlue: hsl(201, 11%, 66%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--DarkGrayishBlue);
}

img{
    display: block;
    max-width: 100%;
    margin: auto;
}

ul{
    list-style: none;
}

h1, h2{
    margin-bottom: 2rem;
}

p{
    color: var(--GrayishBlue);
    font-size: 1.4rem;
    max-width: 50rem;
    margin: auto;
    margin-bottom: 3rem;
}
    
.btn{
    border: 0;
    outline: none;
    padding: .8em 2em;
    border-radius: 5rem;
    font-size: 1.4rem;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.btn-primary{
    background: var(--LightBlue);  
    border-bottom: 3px solid #5262dc; 
}

.btn-success{
    background: var(--StrongCyan);
    border-bottom: 3px solid #2f9580;
    margin-right: 1rem;
}

.text-center{
    text-align: center;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    padding: 5rem;
}

.mb-8{
    margin-bottom: 8rem;
}

.pt-4{
    margin-top: 4rem;
}

header{
    background: url(images/bg-header-mobile.png) no-repeat center center /cover;
    padding: 4rem 0
}

.logo{
    margin: auto;
}

.logo, .footer-logo{
    width: 10rem;
}

.feature .text-center{
    margin-bottom: 8rem;
}

.feature-img{
    margin-left: -10%;
}

.feature-text{
    padding: 8rem;
}

.feature-2 .flex{
    justify-content: space-around;
    text-align: center;
}

.feature-2 .flex div + div{
    margin-left: 2rem;
}

.logos .flex, footer .flex{
    justify-content: space-around;
}

footer{
    background: #f6f6f6;
}

.footer-links{
    flex: 2;
}

.flex-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-links li+li{
    margin-left: 2rem;
}

@media only screen and (max-width: 768px){
    body{
        font-size: 1.6rem;
        line-height: 1.2;
    }
    
    .flex{
        flex-direction: column;
    }

    .feature-img{
        margin-left: 0;
    }

    .mx-4{
        margin: 0 4rem;
    }

    .logo{
        margin-bottom: 1rem;
    }

    .btn-success{
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .feature-text{
        text-align: center;
    }

    h3, .feature-2 img{
        margin-bottom: 1rem;
    }

    .logos .flex div + div, footer .flex div + div{
        margin-top: 4rem;
    }

    .footer-links .flex-links{
        flex-direction: column;
    }

    .footer-links .flex-links li + li{
        margin-top: 1rem;
    }
}
