/* @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.8rem;
} */